.prod-list {
  display: flex;
  margin-left: -30px;
  margin-top: 50px;
}

.prod-item {
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.prod-box {
  padding-top: 47px;
  padding-bottom: 94px;
}

.products-company-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}

.overlay-prod-box {
  position: relative;
}

.overlay-text-prod {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
  text-align: center;
}

.overlay-text-prod-box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding-bottom: 27px;
  padding-top: 27px;
}
