.logo-head {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-right: 93px;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  
}

.logo-05 {
  color: var(--accent-color);
}

.logo-foot {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 20px;
}
