.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--logo-fill);
  transition: fill 250ms var(--speed-anim);
  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: var(--white-color);
  }
}

.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-social-list {
  display: flex;
  margin-top: 20px;
}

.footer-social-list-item {
  width: calc((100%-30px) / 4);
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.footer-social-icon-box {
  margin-left: 70px;
}
